@import "elements.less";

// Colors
@header-bg: #252525;
@header-main: #f8f8f8;
@header-secondary: #959595;
@link-color: #2397aa;
@main-color: #555;
@bg-color: #252525;
@content-bg: #f8f8f8;
@nav-bg: #E0E0E0;
@nav-bg-gradient-start: #CCCCCC;
@nav-bg-gradient-end: #b0b0b0;

@xlarge-padding: 30px;
@large-padding: 20px;
@normal-padding: 10px;
@small-padding: 5px;



.clearfix {
  *zoom: 1;
  &:before,
  &:after {
	display: table;
	content: "";
  }
  &:after {
	clear: both;
  }
}

.right { float: right; }
.left { float: left; }

body {
	font: 16px/26px 'Lato',Helvetica,Arial,sans-serif;
	background-color: @bg-color;
	color: @main-color;
	h1, h2 {
		font-weight: normal;
	}
	a {
		color: @link-color;
	}
}

.container {
	.wrapper {
		max-width: 1200px;
		margin:0px auto;
	}
}

#header-container {
	header {
		background-color: @header-bg;
		color: @header-main;
		hgroup {
			vertical-align: bottom;
			height: 30px;
			* {
				display: inline;
				position: relative;
			}
			h1 {  font-size: 3em; }
			h2 { color: @header-secondary; }
			padding: @large-padding;
			.clearfix();
		}
		nav {
			width: auto;
			padding: 0 @xlarge-padding;
			ul {
				list-style-type: none;
				li {
					margin-left: @small-padding;
					padding: 0;
					float: left;
					&.right {
						.right();
					}
					a {
						display: block;
						padding: @small-padding @normal-padding;
						color: @header-secondary;
						text-decoration: none;
						&:hover {
							background-color: @link-color;						
							color: @content-bg;
						}
					}
					&.active {
						a {
							background-color: @content-bg;
							color: @main-color;
						}
					}
				}
				.clearfix();
			}
		}
	}
}

#main-container {
	.main {
		background-color: #ebebeb;
		#content {
			h1 { font-size: 2em; line-height: 2em; }
			h2 { font-size: 1.5em; line-height: 2em; }
			h3 { font-size: 1.3em; line-height: 2em; }
			font-size: 1.1em;
			line-height: 1.4em;

			padding: @large-padding;
			background-color: #f8f8f8;
			width: auto;
			float: left;
			margin-right: 300px;
			overflow: visible;
			border-right: 1px solid #e0e0e0; 
			.clearfix();
			&>div, &>article, &>section {
				float: left;
				width: 100%;
			}
			aside {
				width: 260px;
				overflow: hidden;
				margin: 0 -100% 0 0;
				clear: none;
				float: left;
				padding: 0px @xlarge-padding 0px;
				.clearfix();
				ul {
					list-style-type: none;
				}
			}
		}
	}
}

#recent_posts {
	list-style-type: none;
	.post {
		margin-top: 0px;
		a {
			line-height: 1.2em; 
		}
	}
}

.post {
	.clearfix();
}

.read-more {
	float: left;
	.clearfix();
}

.block-link {
	margin: @large-padding 0 @normal-padding 0;
	a {
		padding: 6px;
		color: @link-color;
		&:hover {
			color: @content-bg;
			background-color: @link-color;
		}
	}
}