// Colors
@header-bg: #3D5d5D;
@header-fg: #f8f8f8;

@xlarge-padding: 30px;
@large-padding: 20px;
@normal-padding: 10px;
@small-padding: 5px;



.clearfix {
  *zoom: 1;
  &:before,
  &:after {
	display: table;
	content: "";
  }
  &:after {
	clear: both;
  }
}

body {
	font: 16px/26px 'Lato',Helvetica,Arial,sans-serif;
	background-color:#252525;
}

.container {
	.wrapper {
		max-width: 1200px;
		margin:0px auto;
	}
}

#header-container {
	header {
		background-color: @header-bg;
		color: @header-fg;
		hgroup {
			vertical-align: bottom;
			height: 30px;
			* {
				display: inline;
				position: relative;
			}
			h1 {  font-size: 3em; }
			padding: @large-padding;
			.clearfix();
		}
		nav {
			padding: @normal-padding @large-padding;
			background-color: #cdcdcd;
			width: auto;
			ul {
				list-style-type: none;
				li {
					float: left;
					a {
						color: #5d5d5d;
						text-decoration: none;
					}
				}
				.clearfix();
			}
		}
	}
}

#main-container {
	.main {
		background-color: #ebebeb;
		#content {
			h1 { font-size: 2em; line-height: 2em; }
			h2 { font-size: 1.5em; line-height: 2em; }
			h3 { font-size: 1.3em; line-height: 2em; }
			font-size: 1.1em;
			line-height: 1.4em;

			padding: @large-padding;
			background-color: #f8f8f8;
			width: auto;
			float: left;
			margin-right: 300px;
			overflow: visible;
			border-right: 1px solid #e0e0e0; 
			.clearfix();
			&>div, &>article, &>section {
				float: left;
				width: 100%;
			}
			aside {
				width: 260px;
				overflow: hidden;
				margin: 0 -100% 0 0;
				clear: none;
				float: left;
				padding: 0px @xlarge-padding 0px;
				.clearfix();
				ul {
					list-style-type: none;
				}
			}
		}
	}
}

.post {
	.clearfix();
}

.read-more {
	margin: @large-padding 0 @normal-padding 0;
	a {
		padding: 6px;
		background-color: #cdcdcd;
		color: #5d5d5d;
		text-decoration: none;
	}
	float: left;
	.clearfix();
}