@model NBlog.Domain.Entities.Post

@{
    ViewBag.Title = Model.Title;
}

<article>
<h2 id="Title">@Html.DisplayFor(model => model.Title)</h2>
    <span id="PublishDate">@Model.PublishDate.ToShortDateString()</span>
    <div class="display-label">Content</div>
    <div class="display-field" id="Content">
        @Html.DisplayFor(model => model.Content)
    </div>
</article>