@using NBlog.Domain.Entities
@model IEnumerable<Post>

<article>
    <div class="twelve columns posts alpha">
    @foreach (var post in Model)
    {
        <section>
            <div class="post">
                <h2>@Html.ActionLink(post.Title, MVC.Post.Article(post.ShortUrl), new { @class = "post-link"})</h2>
                <span class="excerpt">@post.Excerpt</span>
            </div>
        </section>
    }
    </div>
</article>
<aside class="four columns omega">    
    This is some aside stuff    
</aside>
