@model IEnumerable<NBlog.Models.NavigationItem>
@{
    Layout = null;
}

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Text,MVC.Post.ActionNames.Show, MVC.Post.Name, new { slug = item.Slug}, null)</li>        
    }
</ul>
