@import "variables.less";
@import "mixins.less";

form {
	width: auto;
	width: auto;
	.editor-label {
		width: 250px;
		.left();
		display: inline;
		label {
			.right();
		}
	}
	.editor-label {
		.left();
		input {
			.left();
		}
	}
    .form-input {
		width: 100%;
		float: none;
		.clearfix();
		* {
			.left();
		}
		input.normal {
			width: 300px;
		}
		input.large {
			width: auto;
		}
	}
}