// Colors
@header-bg: #252525;
@header-main: #f8f8f8;
@main-secondary: #959595;
@link-color: #2397aa;
@main-color: #555;
@main-bg: #ebebeb;
@bg-color: #252525;
@content-bg: #f8f8f8;
@nav-bg: #E0E0E0;
@nav-bg-gradient-start: #CCCCCC;
@nav-bg-gradient-end: #b0b0b0;

// Padding
@xlarge-padding: 30px;
@large-padding: 20px;
@normal-padding: 10px;
@small-padding: 5px;

body {
	font: 16px 'Lato',Helvetica,Arial,sans-serif;
	line-height: 1.25;
	background-color: @bg-color;
	color: @main-color;
}

h1, h2 {
	font-weight: normal;
}

.container {
	&>* {
		max-width: 900px;
		margin:0px auto;
	}
}

.main {
	padding: 1.25em;
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.3em;
	}
}


a {
	color: @link-color;
}

.header {
	header {
		background-color: @header-bg;
		color: @header-main;
		hgroup {
			vertical-align: bottom;
			height: 30px;
			h1, h2 {
				display: inline;
				position: relative;
			}
			a {
				text-decoration: none;
			}
			h1 {  
				color: @header-main;
				font-size: 3em; 
			}
			h2 { color: @main-secondary; }
			padding: @large-padding;
		}
	}
}

#content {
	padding: @normal-padding;
}
#admincontent .editor,
#content section.posts {
	width: auto;
}

#admincontent {
	.editor {
		width: 100%;
	}
}

#main-container {
	header {
		h1 { font-size: 2em; line-height: 2em; }
		h2 { font-size: 1.5em; line-height: 2em; }
		h3 { font-size: 1.3em; line-height: 2em; }
	}
	.main {
		background-color: @content-bg;
		#content {
			font-size: 1.1em;
			line-height: 1.4em;
		}
	}
}


#recent_posts {
	list-style-type: none;
	.post {
		margin-top: 0px;
		a {
			line-height: 1.2em; 
		}
	}
}

.post {
	header {
		padding-top: @normal-padding;
		position: relative;
		time {
			position: absolute;
			font-style: italic;
			font-size: 0.8em;
			color: @main-secondary;
			top: 0px;
		}
	}
	.read-more {
		float: left;
		margin-bottom: @large-padding;
	}
}

.block-link {
	margin: @large-padding 0 @normal-padding 0;
	a {
		padding: 6px;
		color: @link-color;
		&:hover {
			color: @content-bg;
			background-color: @link-color;
		}
	}
}

