@using NBlog.Models
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*@section Navigation {
    @{ Html.RenderPartial(MVC.Shared.Views._Navigation, new List<NavigationItem>
                                                                         {
                                                                             new NavigationItem() { Text = "Blog", Url = Url.Action(MVC.Admin.Blog.ActionNames.Index, MVC.Admin.Blog.Name)}
                                                                         }); }
}*@

<div id="admincontent">
    <div>
        @RenderBody()
    </div>
</div>
