@model IEnumerable<NBlog.Views.PostItem>
<section class="span4">
    @if(Model.Count() == 0)
    {
        <span>No recent posts</span>
    }
    <h1>Recent posts</h1>
    <ul id="recent_posts">
        @foreach (var postItem in Model)
        {
            <li class="post">
                @Html.ActionLink(postItem.Title, MVC.Home.ActionNames.Show, MVC.Home.Name, new { slug= postItem.Slug }, null)
            </li>
        }
    </ul>
</section>