@model object

@{
    ViewBag.Title = "title";
}
<section class="twelve columns posts">
    <div class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </div>
    <div class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </div>
    <div class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </div>
    <div class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </div>
    <div class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </div>
    <div class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now! lkajdlkasjdlkasjd lkasj dlkasj dlasj dlkas jdlkjas dlk jaslkdj asl djlkasj dklasj dkjlashd kljashdkjas dkjas </p>
    </div>
</section>
<aside class="four columns">    
    This is some aside stuff    
</aside>
