@model object

@{
    ViewBag.Title = "title";
}
<section class="posts">
    <section class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </section>
    <section class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </section>
    <section class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </section>
    <section class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </section>
    <section class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now!</p>
    </section>
    <section class="post">
        <h2>Welcome bithces</h2>
        <p>So what you gonna do now! lkajdlkasjdlkasjd lkasj dlkasj dlasj dlkas jdlkjas dlk jaslkdj asl djlkasj dklasj dkjlashd kljashdkjas dkjas </p>
    </section>
</section>
