.header.super-container {
  background-color: #545454;
  color: #fefefe; }
  .header.super-container h1 {
    color: #fefefe; }
  .header.super-container .menu ul {
    margin: 0; }
    .header.super-container .menu ul a, .header.super-container .menu ul a:hover {
      text-decoration: none;
      color: #fefefe;
      background-color: #545454; }
    .header.super-container .menu ul a:hover {
      text-decoration: underline;
      background-color: #343434; }
    .header.super-container .menu ul li {
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.5em;
      margin: 0 0.2em 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0; }
    .header.super-container .menu ul li:hover {
      color: #fefefe;
      background-color: #343434; }
    .header.super-container .menu ul li.active {
      background-color: #fefefe;
      color: #343434; }
      .header.super-container .menu ul li.active a {
        background-color: #fefefe;
        color: #343434; }
      .header.super-container .menu ul li.active a:hover {
        text-decoration: none; }

.flash-container li {
  padding-bottom: 1.2em;
  padding-top: 1.2em;
  margin-bottom: 0px; }
.flash-container .super-container {
  border-bottom-style: solid;
  border-width: 2px; }
.flash-container .super-container.error {
  border-color: #991212; }
.flash-container .super-container.info {
  border-color: #129912; }
.flash-container .error {
  background-color: #991212;
  color: #991212; }
.flash-container .info {
  background-color: #94ff94;
  color: #129912; }

#super-header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #343434;
  color: #979797; }
  #super-header a {
    color: #979797; }
  #super-header ul, #super-header li {
    margin-bottom: 0px; }

.navigation li {
  float: left; }
.navigation .right {
  float: right; }

form {
  background-color: #F1F1F1;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1em; }
  form .field-validation-error {
    color: #991212; }
  form .input-validation-error {
    background-color: #ff9494; }
  form .editor-label, form .editor-actions {
    margin-top: 1em; }
  form .editor-actions {
    margin-top: 1em; }
    form .editor-actions button, form .editor-actions .button, form .editor-actions input[type="submit"] {
      margin: 0px; }
  form input[type="text"], form input[type="password"], form input[type="email"], form textarea, form select {
    margin: 0px; }
