.header.super-container {
  background-color: #545454;
  color: #fefefe; }
  .header.super-container h1 {
    color: #fefefe; }
  .header.super-container a {
    color: #fefefe; }

.flash-container li {
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 0px; }
.flash-container .error {
  background-color: #ff9494;
  color: #991212; }

#super-header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #343434;
  color: #979797; }
  #super-header a {
    color: #979797; }
  #super-header ul, #super-header li {
    margin-bottom: 0px; }

.navigation li {
  float: left; }
