$soft-white:#fefefe;
$light-grey:#979797;
$medium-grey:#545454;
$strong-grey:#343434;
$strong-red:#991212;
$soft-red:#ff9494;
$strong-green:#129912;
$soft-green:#94ff94;

@mixin border-radius-top($radius)
{
	-moz-border-radius: $radius $radius 0 0;
	border-radius: $radius $radius 0 0;	
}

.header.super-container {
	background-color: $medium-grey;
	color: $soft-white;
	h1 {
		color: $soft-white;
	}
	.menu {
		ul {
			height: 2.2em;
			padding: 0px;
			margin: 0px;
			li {
				height: 2.2em;
				line-height: 2.2em;
				display: inline-block;
				padding: 0px;
				margin-right: 0.3em;
				a {
					display: inline-block;
					padding-left: 0.5em;
					padding-right: 0.5em;
					padding-top: 0.3em;
					padding-bottom: 0.3em;
					height: 1.6em;
					line-height: 1.6em;
					margin: 0 0.2em 0 0;
					text-decoration: none;
					@include border-radius-top(5px);
					color: $soft-white;
					background-color: $medium-grey;
				}
				a.active {
					text-decoration: none;
					background-color: $soft-white;
					color: $strong-grey;
				}
				a:hover {
					text-decoration: underline;
					color: $soft-white;
					background-color: $strong-grey;
				}
			}
		}
	}
}
.flash-container {
	li {
		padding-bottom: 1.2em;
		padding-top: 1.2em;
		margin-bottom: 0px;
	}
	.super-container {
		border-bottom-style: solid;
		border-width: 2px;
	}
	.super-container.error {
		border-color: $strong-red;
	}
	.super-container.info {
		border-color: $strong-green;
	}
	.error {
		background-color: $strong-red;
		color: $strong-red;
	}
	.info {
		background-color: $soft-green;
		color: $strong-green;
	}
}
#super-header {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: $strong-grey;
	color: #979797;
	a {
		color: #979797;
	}
	ul,li {
		margin-bottom: 0px;
	}
}

.navigation {
	li {
		float: left;
	}
	.right {
		float: right;
	}
}

form {
	background-color: #F1F1F1;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 1em;
	.field-validation-error {
		color: $strong-red;
	}
	.input-validation-error {
		background-color: $soft-red;
	}
	.editor-label, .editor-actions {
		margin-top: 1em;
	}
	.editor-actions {
		margin-top: 1em;
		button, .button, input[type="submit"] {
			margin: 0px;
		}
	} 
	input[type="text"], input[type="password"], input[type="email"], textarea, select {
		margin: 0px;
	}
}