@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="header super-container">
    <header class="container header" id="header">
        <div class="sixteen columns alpha">
            <h1>Welcome to the end of the internets</h1>
        </div>
        @Html.Partial("_Menu")
    </header>
</div>
<article class="container main">
    @RenderBody()
</article>
