@{
    Layout = "_MainLayout.cshtml";
}

@section Navigation {
    @{ Html.RenderAction(MVC.Blog.ActionNames.Navigation, MVC.Blog.Name); }
}

<div>
    @RenderBody()
</div>
<aside>
    <div>
        <section class="first">
            @{ Html.RenderAction("RecentPosts", "Post");}
        </section>
        <section>
            @{ Html.RenderAction("RecentPosts", "Post");}                    
        </section>					
    </div>
</aside>
