<nav class="menu">
    <ul class="navigation columns sixteen alpha">
        <li class="">
            <a href="#" >Home</a>
        </li>
        <li>
            <a class="active" href="#" >About</a>
        </li>
    </ul>
</nav>
