@model NBlog.Areas.Admin.Models.PostViewModel

@{
    ViewBag.Title = "Create a new shiny post!";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>What will this story be about</legend>

        @Html.Partial(MVC.Admin.Post.Views._EditCreatePost, Model)

        <p>
            <input type="submit" value="Save" id="Save"/>
            <input type="button" value="Publish" id="Publish"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", MVC.Admin.Post.Index())
</div>
