@model NBlog.Areas.Admin.Models.PostViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PostViewModel</legend>

        @Html.Partial(MVC.Admin.Post.Views._EditCreatePost, Model)

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", MVC.Admin.Post.Index())
</div>
