@model System.Collections.Generic.IEnumerable<NBlog.Views.PostItem>

@{
    ViewBag.Title = "Posts";
}

<h1>Posts</h1>
@if(Model.Count() == 0)
{
    <span>
        @Html.ActionLink("Create post", "Create")
    </span>
}
else
{
    <ul class="post-index">
    @foreach(var postItem in Model)
    {
        <li class="post-index-item @(postItem.IsPublished ? "published" : "")">
            <span class="title">@postItem.Title</span>
            <span class="actions">
                @Html.ActionLink("Edit", MVC.Admin.Post.Edit(postItem.PostId))
            </span>
        </li>
    }
    </ul>
}