<root>
  <FileGroup Name="site.js">
    <File Path="jquery-1.7.1.js" Minify="false"/>
    <File Path="bootstrap.min.js" Minify="false" />
    <File Path="jquery-ui-1.8.18.min.js" Minify="false"/>
    <File Path="jquery.validate.min.js" Minify="false"/>
    <File Path="jquery.validate.unobtrusive.min.js" Minify="false"/>
    <File Path="knockout.js" />
  </FileGroup>
</root>